
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.pdb
*.exe
*.sln
DeckBuildingUtils/x64/Debug/_IsIncrementalBuild
.vs/DeckBuildingUtils/v17/.suo